# Load libraries

In [3]:
# load pandas and numpy
import pandas as pd
import numpy as np
import os
import sys
sys.path.insert(1, '..')
os.chdir('..')

# Read and create table for no-covariates models

In [17]:
# read in the txt files with the results
models = ['nhits', 'tft', 'linreg', 'xgboost', 'transformer']
datasets = ['weinstock', 'dubosson', 'colas', 'iglu', 'hall']
results = {d:{} for d in [d + '_ID_RMSE' for d in datasets] + 
           [d + '_ID_MAE' for d in datasets] + 
           [d + '_OOD_RMSE' for d in datasets] + 
           [d + '_OOD_MAE' for d in datasets]}
for model in models:
    for dataset in datasets:
        # read txt file
        # find line starting with the 'Key: median RS ID (MSE, MAE) stats'
        # in that line read in values after "'mean': [array([" and before "'])], 'std'"
        # save them in a dictionary
        with open(f'output/{model}_{dataset}.txt', 'r') as f:
            for line in f:
                if line[:34] == 'Key: median RS ID (MSE, MAE) stats':
                    # split line
                    line = line.split("'mean': [array([")[1]
                    line = line.split("])], 'std'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_ID_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_ID_MAE'][model] = float(line[1])
                if line[:35] == 'Key: median RS OOD (MSE, MAE) stats':
                    # split line
                    line = line.split("'mean': [array([")[1]
                    line = line.split("])], 'std'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_OOD_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_OOD_MAE'][model] = float(line[1])
                if line[:29] == 'RS ID (MSE, MAE) errors stats':
                    # split line
                    line = line.split("'median': array([[")[1]
                    line = line.split("]]), 'min'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_ID_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_ID_MAE'][model] = float(line[1])
                if line[:30] == 'RS OOD (MSE, MAE) errors stats':
                    # split line
                    line = line.split("'median': array([[")[1]
                    line = line.split("]]), 'min'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_OOD_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_OOD_MAE'][model] = float(line[1])
results = pd.DataFrame(results)

# Read and create table for with-covariates models

In [22]:
# read in the txt files with the results
models = ['nhits_covariates', 'tft_covariates', 'linreg_covariates', 'xgboost_covariates', 'transformer_covariates']
datasets = ['weinstock', 'dubosson', 'colas', 'iglu', 'hall']
results = {d:{} for d in [d + '_ID_RMSE' for d in datasets] + 
           [d + '_ID_MAE' for d in datasets] + 
           [d + '_OOD_RMSE' for d in datasets] + 
           [d + '_OOD_MAE' for d in datasets]}
for model in models:
    for dataset in datasets:
        # check if files exist
        if not os.path.exists(f'output/{model}_{dataset}.txt'):
            continue
        # read txt file
        # find line and the values, then save them in a dictionary
        with open(f'output/{model}_{dataset}.txt', 'r') as f:
            for line in f:
                if line[:34] == 'Key: median RS ID (MSE, MAE) stats':
                    # split line
                    line = line.split("'mean': [array([")[1]
                    line = line.split("])], 'std'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_ID_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_ID_MAE'][model] = float(line[1])
                if line[:35] == 'Key: median RS OOD (MSE, MAE) stats':
                    # split line
                    line = line.split("'mean': [array([")[1]
                    line = line.split("])], 'std'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_OOD_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_OOD_MAE'][model] = float(line[1])
                if line[:29] == 'RS ID (MSE, MAE) errors stats':
                    # split line
                    line = line.split("'median': array([[")[1]
                    line = line.split("]]), 'min'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_ID_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_ID_MAE'][model] = float(line[1])
                if line[:30] == 'RS OOD (MSE, MAE) errors stats':
                    # split line
                    line = line.split("'median': array([[")[1]
                    line = line.split("]]), 'min'")[0]
                    # read in 2 numbers 
                    line = line.split(', ')
                    results[dataset + '_OOD_RMSE'][model] = np.sqrt(float(line[0]))
                    results[dataset + '_OOD_MAE'][model] = float(line[1])
results = pd.DataFrame(results)

In [23]:
results

,weinstock_ID_RMSE,dubosson_ID_RMSE,colas_ID_RMSE,iglu_ID_RMSE,hall_ID_RMSE,weinstock_ID_MAE,dubosson_ID_MAE,colas_ID_MAE,iglu_ID_MAE,hall_ID_MAE,weinstock_OOD_RMSE,dubosson_OOD_RMSE,colas_OOD_RMSE,iglu_OOD_RMSE,hall_OOD_RMSE,weinstock_OOD_MAE,dubosson_OOD_MAE,colas_OOD_MAE,iglu_OOD_MAE,hall_OOD_MAE
linreg_covariates,14.870556,23.495287,5.775065,NaN,7.565363,12.546635,18.572790,4.697900,NaN,6.529675,15.659228,728.573621,5.634100,NaN,10696.657422,13.147711,207.790620,4.630486,NaN,5422.418490
xgboost_covariates,14.681351,32.493833,7.191616,NaN,6.462947,12.676509,28.774068,6.328214,NaN,5.565897,15.597046,24.496752,6.803897,NaN,7.640747,13.611567,21.392745,6.020773,NaN,6.657005
nhits_covariates,NaN,NaN,9.221142,NaN,NaN,NaN,NaN,8.297539,NaN,NaN,NaN,NaN,7.941754,NaN,NaN,NaN,NaN,7.139138,NaN,NaN
tft_covariates,NaN,NaN,8.687359,NaN,NaN,NaN,NaN,6.634133,NaN,NaN,NaN,NaN,8.473622,NaN,NaN,NaN,NaN,6.360819,NaN,NaN
transformer_covariates,NaN,NaN,7.568979,NaN,NaN,NaN,NaN,6.526950,NaN,NaN,NaN,NaN,6.522498,NaN,NaN,NaN,NaN,5.674240,NaN,NaN

In [24]:
float(' 106 ')

106.0