In [1]:
import sys
import os
import yaml
sys.path.insert(1, '..')
os.chdir('..')

from data_formatter.base import *

/Users/renatsergazinov/anaconda3/envs/torch/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# load yaml config file
with open('./config/hall.yaml', 'r') as f:
    config = yaml.safe_load(f)

In [3]:
# initialise formatter
formatter = DataFormatter(config)

Dropped segments: 0
Extracted segments: 281

In [4]:
formatter.data

,time,id,gl,time_year,time_month,time_day,time_hour,time_minute,id_segment
0,2014-02-03 03:42:12,0.0,93.0,2014.0,2.0,3.0,3.0,42.0,0.0
1,2014-02-03 03:47:12,0.0,93.0,2014.0,2.0,3.0,3.0,47.0,0.0
2,2014-02-03 03:52:12,0.0,93.0,2014.0,2.0,3.0,3.0,52.0,0.0
3,2014-02-03 03:57:12,0.0,95.0,2014.0,2.0,3.0,3.0,57.0,0.0
4,2014-02-03 04:02:12,0.0,96.0,2014.0,2.0,3.0,4.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...
107126,2017-07-11 20:16:35,56.0,69.0,2017.0,7.0,11.0,8.0,6.0,280.0
107127,2017-07-11 20:21:35,56.0,69.0,2017.0,7.0,11.0,8.0,6.0,280.0
107128,2017-07-11 20:26:35,56.0,69.0,2017.0,7.0,11.0,8.0,6.0,280.0
107129,2017-07-11 20:31:35,56.0,69.0,2017.0,7.0,11.0,8.0,6.0,280.0
107130,2017-07-11 20:36:35,56.0,69.0,2017.0,7.0,11.0,8.0,6.0,280.0

In [5]:
formatter._column_definition

[('id', <DataTypes.REAL_VALUED: 0>, <InputTypes.ID: 4>),
 ('time', <DataTypes.DATE: 2>, <InputTypes.TIME: 6>),
 ('gl', <DataTypes.REAL_VALUED: 0>, <InputTypes.TARGET: 0>),
 ('time_year', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_month', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_day', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_hour', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_minute', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('id_segment', <DataTypes.CATEGORICAL: 1>, <InputTypes.SID: 5>)]

In [6]:
formatter.train_data

,time,id,gl,time_year,time_month,time_day,time_hour,time_minute,id_segment
0,2014-02-03 03:42:12,0.0,93.0,2014.0,2.0,3.0,3.0,42.0,0.0
1,2014-02-03 03:47:12,0.0,93.0,2014.0,2.0,3.0,3.0,47.0,0.0
2,2014-02-03 03:52:12,0.0,93.0,2014.0,2.0,3.0,3.0,52.0,0.0
3,2014-02-03 03:57:12,0.0,95.0,2014.0,2.0,3.0,3.0,57.0,0.0
4,2014-02-03 04:02:12,0.0,96.0,2014.0,2.0,3.0,4.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...
106764,2017-07-09 17:06:46,56.0,118.0,2017.0,7.0,8.0,16.0,41.0,279.0
106765,2017-07-09 17:11:46,56.0,118.0,2017.0,7.0,8.0,16.0,41.0,279.0
106766,2017-07-09 17:16:46,56.0,118.0,2017.0,7.0,8.0,16.0,41.0,279.0
106767,2017-07-09 17:21:46,56.0,118.0,2017.0,7.0,8.0,16.0,41.0,279.0
106768,2017-07-09 17:26:46,56.0,118.0,2017.0,7.0,8.0,16.0,41.0,279.0