In [1]:
import sys
import os
import yaml
sys.path.insert(1, '..')
os.chdir('..')

from data_formatter.base import *

/Users/renatsergazinov/anaconda3/envs/torch/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# load yaml config file
with open('./config/weinstock.yaml', 'r') as f:
    config = yaml.safe_load(f)

In [3]:
# initialise formatter
formatter = DataFormatter(config)

Dropped segments: 542
Extracted segments: 1552

In [4]:
formatter.data

,time,id,gl,time_year,time_month,time_day,time_hour,time_minute,id_segment
0,1900-01-01 18:35:14,0.0,223.0,1900.0,1.0,1.0,18.0,35.0,0.0
1,1900-01-01 18:40:14,0.0,221.0,1900.0,1.0,1.0,18.0,40.0,0.0
2,1900-01-01 18:45:14,0.0,233.0,1900.0,1.0,1.0,18.0,45.0,0.0
3,1900-01-01 18:50:14,0.0,223.0,1900.0,1.0,1.0,18.0,50.0,0.0
4,1900-01-01 18:55:14,0.0,214.0,1900.0,1.0,1.0,18.0,55.0,0.0
...,...,...,...,...,...,...,...,...,...
672854,1900-01-15 22:12:31,198.0,401.0,1900.0,1.0,15.0,19.0,32.0,2092.0
672855,1900-01-15 22:17:31,198.0,401.0,1900.0,1.0,15.0,19.0,32.0,2092.0
672856,1900-01-15 22:22:31,198.0,401.0,1900.0,1.0,15.0,19.0,32.0,2092.0
672857,1900-01-15 22:27:31,198.0,401.0,1900.0,1.0,15.0,19.0,32.0,2092.0
672858,1900-01-15 22:32:31,198.0,401.0,1900.0,1.0,15.0,19.0,32.0,2092.0

In [5]:
formatter.data.dtypes

time           datetime64[ns]
id                    float64
gl                    float64
time_year             float64
time_month            float64
time_day              float64
time_hour             float64
time_minute           float64
id_segment            float64
dtype: object

In [6]:
formatter._column_definition

[('id', <DataTypes.REAL_VALUED: 0>, <InputTypes.ID: 4>),
 ('time', <DataTypes.DATE: 2>, <InputTypes.TIME: 6>),
 ('gl', <DataTypes.REAL_VALUED: 0>, <InputTypes.TARGET: 0>),
 ('time_year', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_month', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_day', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_hour', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_minute', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('id_segment', <DataTypes.CATEGORICAL: 1>, <InputTypes.SID: 5>)]